NODE_ENV=development
PORT=>>EXAMPLE_VALUE<<
DATABASE_URL=>>EXAMPLE_VALUE<<
REDIS_HOST=>>EXAMPLE_VALUE<<
REDIS_PORT=>>EXAMPLE_VALUE<<
JWT_SECRET=>>EXAMPLE_VALUE<<
JWT_EXPIRES_IN=>>EXAMPLE_VALUE<<
GUEST_JWT_EXPIRES_IN=>>EXAMPLE_VALUE<<
FE_URL=>>EXAMPLE_VALUE<<
SWAGGER_ENABLED=false
